{% extends 'base.html' %}
{% block content %}
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">ABOUT THE GAME AND RULES</span></h5>
    <p>In a nutshell, Participants will pitch their B-plan and you have to fund them with virtual money. </p>
    <p><strong>Where would we get this "virtual" money. Will somebody give us some Paytm cash!!</strong></p>
    <p>No...
    As soon as you signup as audience you will receive a amount of $1,000,000 in your portal account </p>
    <p>On the basis how the idea is, and how convinced you are pay the teams with that money. Enjoy</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>Press transact money in navbar to send money or scoreboard to see who has win how much yet</i></p>
      <p>Crowd Fund 'em up wise !!!</p>
    </div>

{% endblock %}
